/* Cannnot load the font from Google because it lacks many glyphs
   We need the box drawing characters */
@font-face {
  font-family: "Noto Sans Mono";
  src: url("../assets/NotoSansMono-Regular.woff2") format("woff2");
}

:root {
  --md-code-font: "Noto Sans Mono", monospace;
}

/* Fixing spacing in home buttons */
.mdx-hero .md-button {
  margin-bottom: 0.5em;
}

/* Fix line height for code blocks, value depends on the font */
.md-typeset code {
  line-height: 1.25;
}

/* Fix spacing in tags, to make them not touch each other */
.md-typeset .md-tag {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}

blockquote.epigraph {
  width: auto;
  font-style: italic;
  text-align: right;
  margin: 1em 0;
  border-left: none !important;
  padding-left: 30% !important;
}

blockquote.epigraph>footer::before {
  content: "— ";
}

/* Fix caret position in breadcrumbs */
.md-path__item:not(:first-child):before {
  margin-top: .15em;
}

/* Reduce size of header links (¶) and center vertically */
.md-typeset .headerlink {
  font-size: 0.7em;
  line-height: 1;
  vertical-align: middle;
  top: -0.1em;
  position: relative;
}

.md-code__button {
  font-size: 0.8em;
}

/* Adjust the size of view/edit icons (eye/pencil)
   Default value is too big, it is not elegant
*/
.md-content__button svg {
  width: 18px;
  padding-top: 9px;
}



/* Keys spacing */
span.keys {
  padding: 0.1em 0.3em;
}



.enumerate-headings-plugin {
  filter: opacity(35%);
}

.md-typeset p,
article {
  hyphens: auto;
  text-align: justify;
  line-height: 1.7;
}

.two-column-list {
  list-style-type: none;
  columns: 2;
  column-gap: 16px;
  padding: 0;
}

.two-column-list li {
  break-inside: avoid-column;
}

.three-column-list {
  list-style-type: none;
  columns: 3;
  column-gap: 16px;
  padding: 0;
}

.three-column-list li {
  break-inside: avoid-column;
}

/* Headings */
.md-typeset h1 {
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.md-typeset h1 {
  margin-top: 1em;
  font-weight: 400;
}

.md-typeset h2,
.md-typeset h3 {
  font-weight: 600;
  color: var(--md-default-fg-color--light);
}


/* strong:not([class]) {
    color: var(--md-accent-fg-color);
    opacity: 0.7;
} */

/* Wikipedia Popup */
.wiki-popup {
  display: none;
  position: absolute;
  background-color: var(--md-default-bg-color);
  color: var(--md-typeset-color);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.3em;
  z-index: 1000;
  max-width: 400px;
}

.wiki-popup-container {
  padding: 10px;
}

.wiki-popup img {
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
}

/* Center mermaid diagrams */
.mermaid {
  text-align: center;
}

/* When wrapped into figure size of mermaid is too small */
.md-typeset figure:has(> div.mermaid) {
  width: auto;
}

:root>* {
  --md-mermaid-font-family: var(--md-text-font-family), sans-serif;
  --md-mermaid-edge-color: var(--md-code-fg-color);
  --md-mermaid-node-bg-color: transparent;
  --md-mermaid-node-fg-color: var(--md-default-fg-color);
  --md-mermaid-label-bg-color: var(--md-default-bg-color);
  --md-mermaid-label-fg-color: var(--md-code-fg-color);
}


/* Abbr ycr hook */
.md-typeset a.ycr-abbr {
  cursor: help;
  text-decoration: none;
  border-bottom: 1px dotted var(--md-accent-fg-color);
  color: inherit;
}