{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>
  /* Application header should be static for the landing page */
  .md-header {
    position: initial;
  }

  /* Remove spacing, as we cannot hide it completely */
  .md-main__inner {
    margin: 0;
  }

  /* Hide main content for now */
  .md-content {
    display: none;
  }

  /* Hide table of contents */
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  /* Hide navigation */
  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }

  .mdx-hero {
    margin: 0 2rem;
    color: var(--md-default-fg-color);
  }

  .mdx-hero h1 {
    margin-bottom: 1.25rem;
    font-weight: 700;
    color: currentcolor;
  }

  @media (max-width: 480px) {
    .mdx-hero h1 {
      font-size: 1.75rem;
    }
  }

  .mdx-hero__content {
    padding-bottom: 7.5rem;
  }

  @media (min-width: 1024px) {
    .mdx-hero {
      display: flex;
      align-items: stretch;
    }

    .mdx-hero__content {
      max-width: 23.75rem;
      padding-bottom: 14vw;
      margin-top: 4.375rem;
    }

    .mdx-hero__image {
      order: 1;
      top: 0;
      right: 0;
      width: 40rem;
      position:absolute;
      transform: translateX(5rem);
      height: 100vh;
      overflow: hidden;
    }
  }

  @media (max-width: 1024px) {
    .mdx-hero__image {
      display: none;
    }
  }
</style>

<!-- Hero for landing page -->
<section class="mdx-container">
  <div class="md-grid md-typeset">
    <div class="mdx-hero">
      <!-- Hero content -->
      <div class="mdx-hero__content">
        <h1>Un cours d'informatique pour ingénieur</h1>
        <p>{{ config.site_description }}.</p>
        <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}"
          class="md-button md-button--primary">
          Cours
        </a>
        <a href="{{ 'tools/' | url }}" title="Configuration de votre environnement de travail" class="md-button">
          Environnement de travail
        </a>
      </div>
    </div>
    <!-- Hero image -->
    <div class="mdx-hero__image">
    <img src="assets/images/hero.png" alt="" draggable="false">
    </div>
  </div>
</section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
