[submodule "docs/assets/src/sdl/tetris"]
	path = docs/assets/src/sdl/tetris
	url = git@github.com:yves-chevallier/sdl-tetris.git
[submodule "docs/assets/src/gtk/tictactoe"]
	path = docs/assets/src/gtk/tictactoe
	url = git@github.com:yves-chevallier/tictactoe.git
[submodule "theme/reveal.js"]
	path = theme/reveal.js
	url = https://github.com/hakimel/reveal.js.git
