*.zip
*.out
*.o
build/
venv/
.drawio_cache/
drawio-exporter/
*:Zone.Identifier
site/
__pycache__/
127.0.0.1.*
127.0.0.1_files/build/
.cache/
*.bkp
*.dtmp
*.aux
*.fdb_latexmk
*.fls
*.log
*.xdv
*.listing
*.synctex.gz
_minted-*/
