*.zip
*.out
*.o
venv/
.drawio_cache/
drawio-exporter/
*:Zone.Identifier
site/
__pycache__/
127.0.0.1.*
127.0.0.1_files/build/
.cache/
*.bkp
*.dtmp
*.xdv
*.aux
*.log
*.fls
*.fdb_latexmk
*.mypyg
*.lol
*.acn
*.glo
*.ist
*.listing
_minted-*/
build/
*.glsdefs
