pydocs
mkdocs-material
mkdocs-material-extensions
markdown-exec
mkdocs-charts-plugin
mkdocs-jupyter
mkdocs-glightbox
mkdocs-git-revision-date-localized-plugin
mkdocs-drawio-exporter
mkdocs-toggle-sidebar-plugin
mkdocs-extract-listings-plugin
mkdocs-enumerate-headings-plugin
mkdocs-codeinclude-plugin
mkdocs-caption
mkdocs-snippets
chalk-diagrams
mkdocs-git-authors-plugin