chalk-diagrams
markdown-exec
mkdocs-autorefs
mkdocs-caption
mkdocs-charts-plugin
mkdocs-codeinclude-plugin
mkdocs-drawio-exporter
mkdocs-enumerate-headings-plugin
mkdocs-extract-listings-plugin
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-glightbox
mkdocs-jupyter
mkdocs-material
mkdocs-material-extensions
mkdocs-snippets
mkdocs-toggle-sidebar-plugin
mkdocs-minify-plugin
mkdocs-awesome-pages-plugin
pydocs