:root {
  --ycr-bubble-bg-color: #92c6ce1a;
  --ycr-bubble-icon-color: #0d545f;
  --ycr-bubble-fg-color: #b1c6c9;
  --ycr-bubble-bg-color--hover: #92c6ce4a;
  --ycr-bubble-fg-color--hover: #46c2d3;
}

[data-md-color-scheme="slate"] {
  --ycr-bubble-bg-color: #2b3b3d1a;
  --ycr-bubble-fg-color: #0fb3c9d2;
  --ycr-bubble-icon-color: #92c6ce;
}

.ycr-callout.ycr-unicode::before {
  background-color: var(--ycr-bubble-icon-color);
  width: 20px;
  height: 20px;
  display: inline-block;
  content: '';
  -webkit-mask: url("/handbook/assets/icons/unicode.svg") no-repeat 50% 50%;
  mask: url("/handbook/assets/icons/unicode.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-right: 0.5em;
  transform: translateY(0.3em);
}

.ycr-callout.ycr-regex::before {
  background-color: var(--ycr-bubble-icon-color);
  width: 20px;
  height: 20px;
  display: inline-block;
  content: '';
  -webkit-mask: url("/handbook/assets/icons/regex.svg") no-repeat 50% 50%;
  mask: url("/handbook/assets/icons/regex.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  margin-right: 0.5em;
  transform: translateY(0.2em);
}

.ycr-callout {
  font-size: 0.8em;
  font-weight: 600;
  background-color: var(--ycr-bubble-bg-color);
  border: .075rem solid var(--ycr-bubble-fg-color);
  box-shadow: var(--md-shadow-z1);
  border-radius: 0.6em;
  padding: 2px 0.3em 1px 0.3em;
  margin: 0 0.2em;
  white-space: nowrap;
  font-weight: 300 !important;
  color: var(--ycr-bubble-icon-color) !important;
  font-family: var(--md-code-font-family);
}

.ycr-callout:hover {
  background-color: var(--ycr-bubble-bg-color--hover);
  border: .075rem solid var(--ycr-bubble-fg-color--hover);
}

.ycr-regex code {
  all: unset;
  color: var(--ycr-bubble-icon-color) !important;
}

a.ycr-regex:focus code,
a.ycr-regex:hover code {
  background: inherit;
  background-color: transparent;
}