/* Adjust view icon (eye) */
.md-content__button svg {
  width: 18px;
  padding-top: 9px;
}

/* Fix line height for code blocks */
.md-typeset code {
  line-height: 1;
}

/* Center tables */
.md-typeset__table table {
  width: auto !important;
}

.enumerate-headings-plugin {
  filter: opacity(35%);
}

.md-typeset p,
article {
  hyphens: auto;
  text-align: justify;
  line-height: 1.7;
}


.md-typeset .admonition.exercise,
.md-typeset details.exercise {
  border-color: rgb(43, 155, 70);
}

.md-typeset .exercise>.admonition-title,
.md-typeset .exercise>summary {
  background-color: rgba(43, 155, 70, 0.1);
}

.md-typeset .exercise>.admonition-title::before,
.md-typeset .exercise>summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--exercise);
  mask-image: var(--md-admonition-icon--exercise);
}

.md-typeset .admonition.solution,
.md-typeset details.solution {
  border-color: rgb(255, 255, 255);
}

.md-typeset .solution>.admonition-title,
.md-typeset .solution>summary {
  background-color: rgba(146, 146, 146, 0.466);
}

.md-typeset .solution>.admonition-title::before,
.md-typeset .solution>summary::before {
  background-color: rgb(139, 139, 139);
  -webkit-mask-image: var(--md-admonition-icon--solution);
  mask-image: var(--md-admonition-icon--solution);
}

.two-column-list {
  list-style-type: none;
  columns: 2;
  column-gap: 16px;
  padding: 0;
}

.two-column-list li {
  break-inside: avoid-column;
}

.three-column-list {
  list-style-type: none;
  columns: 3;
  column-gap: 16px;
  padding: 0;
}

.three-column-list li {
  break-inside: avoid-column;
}

/* Headings */
.md-typeset h1 {
  font-size: 2.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.md-typeset h1 {
  margin-top: 1em;
  font-weight: 400;
}

.md-typeset h2,
.md-typeset h3 {
  font-weight: 600;
  color: var(--md-default-fg-color--light);
}

/* .breadcrumb {
  margin-top: 0.5em;
  font-size: 0.8em;
  color: var(--md-default-fg-color--light);
}

.breadcrumb-caret {
  fill: var(--md-default-fg-color--light);
  height: 0.7em !important;
  vertical-align: middle;
  padding-right: 0.5em;
  padding-left: 0.5em;
} */

strong:not([class]) {
  color: var(--md-default-fg-color--light);
}

.wiki-popup {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
}

.wiki-popup-container {
    padding: 10px;
}

.wiki-popup img {
    display: block;
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
}