ul:not([class]) {
  list-style-type: none;
  padding:0;
  margin:0;
}

ul:not([class]) > li:not([class]) {
  position: relative;
  padding-left: 1.0em;
}

ul:not([class]) > li:not([class])::before {
  content: "–";
  padding-right: 0.5em;
  display: inline-block;
}

ul:not([class]) li:not([class]) > p:first-of-type {
  display: inline;
  margin: 0;  /* Remove default margins of <p> */
}